<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.email.EmailSalesDataMapper">
    
    <resultMap type="EmailSalesData" id="EmailSalesDataResult">
        <result property="salesId"    column="sales_id"    />
        <result property="userEmail"    column="user_email"    />
        <result property="userName"    column="user_name"    />
        <result property="salesDate"    column="sales_date"    />
        <result property="productModel"    column="product_model"    />
        <result property="salesQuantity"    column="sales_quantity"    />
        <result property="playCount"    column="play_count"    />
        <result property="conversionRate"    column="conversion_rate"    />
        <result property="discountType"    column="discount_type"    />
        <result property="discountRatio"    column="discount_ratio"    />
        <result property="sourceChannel"    column="source_channel"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectEmailSalesDataVo">
        select sales_id, user_email, user_name, sales_date, product_model, sales_quantity, play_count, conversion_rate, discount_type, discount_ratio, source_channel, remark, create_by, create_time, update_by, update_time from email_sales_data
    </sql>

    <select id="selectEmailSalesDataList" parameterType="EmailSalesData" resultMap="EmailSalesDataResult">
        <include refid="selectEmailSalesDataVo"/>
        <where>  
            <if test="userEmail != null  and userEmail != ''"> and user_email = #{userEmail}</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="salesDate != null "> and sales_date = #{salesDate}</if>
            <if test="productModel != null  and productModel != ''"> and product_model like concat('%', #{productModel}, '%')</if>
            <if test="salesQuantity != null "> and sales_quantity = #{salesQuantity}</if>
            <if test="playCount != null "> and play_count = #{playCount}</if>
            <if test="conversionRate != null "> and conversion_rate = #{conversionRate}</if>
            <if test="discountType != null  and discountType != ''"> and discount_type = #{discountType}</if>
            <if test="discountRatio != null "> and discount_ratio = #{discountRatio}</if>
            <if test="sourceChannel != null  and sourceChannel != ''"> and source_channel like concat('%', #{sourceChannel}, '%')</if>
        </where>
        order by sales_date desc
    </select>
    
    <select id="selectEmailSalesDataBySalesId" parameterType="Long" resultMap="EmailSalesDataResult">
        <include refid="selectEmailSalesDataVo"/>
        where sales_id = #{salesId}
    </select>
    
    <select id="selectEmailSalesDataByUserEmail" parameterType="String" resultMap="EmailSalesDataResult">
        <include refid="selectEmailSalesDataVo"/>
        where user_email = #{userEmail}
        order by sales_date desc
    </select>
        
    <insert id="insertEmailSalesData" parameterType="EmailSalesData" useGeneratedKeys="true" keyProperty="salesId">
        insert into email_sales_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userEmail != null and userEmail != ''">user_email,</if>
            <if test="userName != null">user_name,</if>
            <if test="salesDate != null">sales_date,</if>
            <if test="productModel != null and productModel != ''">product_model,</if>
            <if test="salesQuantity != null">sales_quantity,</if>
            <if test="playCount != null">play_count,</if>
            <if test="conversionRate != null">conversion_rate,</if>
            <if test="discountType != null">discount_type,</if>
            <if test="discountRatio != null">discount_ratio,</if>
            <if test="sourceChannel != null">source_channel,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userEmail != null and userEmail != ''">#{userEmail},</if>
            <if test="userName != null">#{userName},</if>
            <if test="salesDate != null">#{salesDate},</if>
            <if test="productModel != null and productModel != ''">#{productModel},</if>
            <if test="salesQuantity != null">#{salesQuantity},</if>
            <if test="playCount != null">#{playCount},</if>
            <if test="conversionRate != null">#{conversionRate},</if>
            <if test="discountType != null">#{discountType},</if>
            <if test="discountRatio != null">#{discountRatio},</if>
            <if test="sourceChannel != null">#{sourceChannel},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateEmailSalesData" parameterType="EmailSalesData">
        update email_sales_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="userEmail != null and userEmail != ''">user_email = #{userEmail},</if>
            <if test="userName != null">user_name = #{userName},</if>
            <if test="salesDate != null">sales_date = #{salesDate},</if>
            <if test="productModel != null and productModel != ''">product_model = #{productModel},</if>
            <if test="salesQuantity != null">sales_quantity = #{salesQuantity},</if>
            <if test="playCount != null">play_count = #{playCount},</if>
            <if test="conversionRate != null">conversion_rate = #{conversionRate},</if>
            <if test="discountType != null">discount_type = #{discountType},</if>
            <if test="discountRatio != null">discount_ratio = #{discountRatio},</if>
            <if test="sourceChannel != null">source_channel = #{sourceChannel},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where sales_id = #{salesId}
    </update>

    <delete id="deleteEmailSalesDataBySalesId" parameterType="Long">
        delete from email_sales_data where sales_id = #{salesId}
    </delete>

    <delete id="deleteEmailSalesDataBySalesIds" parameterType="String">
        delete from email_sales_data where sales_id in 
        <foreach item="salesId" collection="array" open="(" separator="," close=")">
            #{salesId}
        </foreach>
    </delete>
</mapper>