<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.email.EmailTemplateMapper">
    
    <resultMap type="EmailTemplate" id="EmailTemplateResult">
        <result property="templateId"    column="template_id"    />
        <result property="templateName"    column="template_name"    />
        <result property="subject"    column="subject"    />
        <result property="content"    column="content"    />
        <result property="templateType"    column="template_type"    />
        <result property="useCount"    column="use_count"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectEmailTemplateVo">
        select template_id, template_name, subject, content, template_type, use_count, status, create_by, create_time, update_by, update_time, remark from email_template
    </sql>

    <select id="selectEmailTemplateList" parameterType="EmailTemplate" resultMap="EmailTemplateResult">
        <include refid="selectEmailTemplateVo"/>
        <where>  
            <if test="templateName != null  and templateName != ''"> and template_name like concat('%', #{templateName}, '%')</if>
            <if test="subject != null  and subject != ''"> and subject like concat('%', #{subject}, '%')</if>
            <if test="templateType != null  and templateType != ''"> and template_type = #{templateType}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectEmailTemplateByTemplateId" parameterType="Long" resultMap="EmailTemplateResult">
        <include refid="selectEmailTemplateVo"/>
        where template_id = #{templateId}
    </select>
        
    <insert id="insertEmailTemplate" parameterType="EmailTemplate" useGeneratedKeys="true" keyProperty="templateId">
        insert into email_template
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="templateName != null and templateName != ''">template_name,</if>
            <if test="subject != null and subject != ''">subject,</if>
            <if test="content != null">content,</if>
            <if test="templateType != null">template_type,</if>
            <if test="useCount != null">use_count,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="templateName != null and templateName != ''">#{templateName},</if>
            <if test="subject != null and subject != ''">#{subject},</if>
            <if test="content != null">#{content},</if>
            <if test="templateType != null">#{templateType},</if>
            <if test="useCount != null">#{useCount},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateEmailTemplate" parameterType="EmailTemplate">
        update email_template
        <trim prefix="SET" suffixOverrides=",">
            <if test="templateName != null and templateName != ''">template_name = #{templateName},</if>
            <if test="subject != null and subject != ''">subject = #{subject},</if>
            <if test="content != null">content = #{content},</if>
            <if test="templateType != null">template_type = #{templateType},</if>
            <if test="useCount != null">use_count = #{useCount},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where template_id = #{templateId}
    </update>

    <delete id="deleteEmailTemplateByTemplateId" parameterType="Long">
        delete from email_template where template_id = #{templateId}
    </delete>

    <delete id="deleteEmailTemplateByTemplateIds" parameterType="String">
        delete from email_template where template_id in 
        <foreach item="templateId" collection="array" open="(" separator="," close=")">
            #{templateId}
        </foreach>
    </delete>

    <update id="increaseTemplateUseCount" parameterType="Long">
        update email_template set use_count = use_count + 1 where template_id = #{templateId}
    </update>
</mapper>


